<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        var publishMessage = function () {
            
            var sender = $("#txtSender").val();
            var title = $("#txtTitle").val();
            var message = $("#txtMessage").val();
            var url = "/home/Publish?sender=" + sender + "&title=" + title + "&messageBody=" + message;

            //Call ajax
            $.ajax({
                url: url,
                success: function (data) {
                   console.log(JSON.stringify(data));

                   $("#dvResult").text(data.StatusMessage);

                    //Empty controls 
                    $("#txtSender").val("");
                    $("#txtTitle").val("");
                    $("#txtMessage").val("");
                },
                error: function (data) {
                    console.log(JSON.stringify(data));

                    $("#dvResult").text(data.StatusMessage);
                }

            });

        }

        $(document).load(function () {
            $("#btnPost").click(publishMessage());
        });

    </script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

